/*
 * CSS for the Nav Bar
 */

#nav-bar {
  z-index: 1;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;
}

#nav-bar .nav-buttons {
  float: right;
}

#nav-bar .nav-buttons > .compose {
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  color: #00a087;
  background-color: aliceblue;
  border: 1px solid black;
}

#nav-bar .nav-buttons > .compose:hover {
  background-color: white;
  color: black;
}