.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  border: solid 1px;
  border-radius: 5px;
  background-color: #eee;
  display: none;
}

h2 {
  margin: 0.5em;
  border-bottom: solid 1px;
}

textarea {
  padding: 5px;
  width: 100%;
}

form {
  margin: 0.5em;
}

.counter {
  float: right;
  line-height: 25px
}

.error-message {
  display: none;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: .5em;
  border: 1px solid;
  padding: 2.5px;
  margin: .5em;
}